extends layout

block content
  h1= title

  p Name: #{beer.name}
  p Description: #{beer.description}
  p Alcohol: #{beer.alcohol}
  p Price: #{beer.price}
  p Category: #{beer.category}
  p Created at: #{beer.created_at}